
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#nav_bar{
    background-color: chartreuse;
    height: 150px;
    display: flex;
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: space-around;
    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    border-radius: 25px;
}

#nav_bar a{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 25px;
}

#nav_bar a:hover{
    color: goldenrod;
    font-size: 40px;
    font-weight: bold;
}

#nav{
    text-align: left;
}

h1{
    color: goldenrod;
    font-size: 80px;
}
p{
    color: blue;
    font-size: medium;
}

#totem{
    font-style:'Roboto', sans-serif;
    color: brown;
}

img {
    width: 50%;
    align-content: center;
}

.centre{
    color: mediumblue;
}

.large{
    font-size: medium;
}

h1 { 
    font-size: 60px; 
    color:goldenrod; 
    position: relative; 
    animation-name: header; 
    animation-duration: 6s; 
    animation-iteration-count: 1; 
} 
@keyframes header { 
    0% {color:grey; left: -600px;} 
    25% {color:grey; left:600px;} 
    50% {color:grey; left:-600px;} 
    75% {color:goldenrod; left:600px;} 
    100%{color:goldenrod; left:0px} 
}

#link a {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    font-size: 15px;
}

h2{
    color: blueviolet;
}